@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: fixed; /* 스크롤 따라오게끔 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: white;
}

@media screen and (max-width: 550px) {
  .media-info-msg {
    display: none;
    /* opacity: 0; -> 배경화면을 투명으로 만드는거라 배경 아래에 있는 요소 클릭 안됨*/
  }
}
